###
# generic files to ignore
#

*~
*.lock
*.DS_Store
*.swp
*.out


###
# Java related files to ignore
#

# compiled stuff
*.class
*.jar
*.war
*.ear

# eclipse specific
.classpath
.project
.settings/
bin/

# intellij idea specific
*.iml

# maven specific
target/
